@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    font-family: "Rubik", sans-serif;
    width: 100vh;
    display: flex;
    flex-direction:column ;
    height: 100%;
    width: 50%;
    padding: 30px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(212, 212, 212);

}
header{
    display: flex;
    
}
.info{
    margin: 15px;
}
img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}